In [28]:
import pandas as pd 
import os
import numpy as np
from matplotlib import pyplot as plt

In [29]:
pd.options.display.max_rows = 10
pd.options.display.max_columns = 999

In [30]:
def process_cols(df, cols_dict, sample=None):
    
    if sample is not None:
        n_examples = int(df.shape[0] * sample)
        df = df.sample(n_examples, random_state=42).reset_index(drop=True)
    
    d = {}
    cat_cols = []
    for ind, col in enumerate(df.columns): 
        if col != "target":
            if col in cols_dict["cat_cols"]:
                d[col] = f"cat_{ind}"
                cat_cols.append(f"cat_{ind}")
            else:
                d[col] = f"num_{ind}"
    df = df.rename(d, axis=1)
    for col in cat_cols:
        df[col] = df[col].fillna("new_category_nan")
        df[col] = df[col].astype("str")
    print("Tot cat columns : ", len(cat_cols))
    return df

# telecom

In [31]:
# https://www.kaggle.com/blastchar/telco-customer-churn

In [32]:
dataset_name = "telecom"
data_path = "C:/CODE/JIO (JPL)/CategoricalEncodingBenchmark-master/src/data/"
data = pd.read_csv("C:/CODE/JIO (JPL)/CategoricalEncodingBenchmark-master/src/data/telecom.csv")
print(data.shape)
data.head()

(7043, 22)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [33]:
cols_dict = {
    "id_cols": ["customerID"],
    "cat_cols": [
        "gender", "SeniorCitizen", "Partner", "Dependents",
        "PhoneService", "MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup", "DeviceProtection", 
        "TechSupport", "StreamingTV", "StreamingMovies", "Contract",
        "PaperlessBilling", "PaymentMethod"
    ], 
    "time_cols": []
}

In [34]:
data["target"] = data["Churn"] == "Yes"
data.drop(["Churn"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [35]:
data = process_cols(data, cols_dict)
data.head()

Tot cat columns :  16

,num_0,cat_1,cat_2,cat_3,cat_4,num_5,cat_6,cat_7,cat_8,cat_9,cat_10,cat_11,cat_12,cat_13,cat_14,cat_15,cat_16,cat_17,num_18,num_19,target
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,False
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,False
2,2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,True
3,3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,False
4,4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,True

In [36]:
for col in data.columns:
    print(col, data[col].dtypes)

num_0 int64
cat_1 object
cat_2 object
cat_3 object
cat_4 object
num_5 int64
cat_6 object
cat_7 object
cat_8 object
cat_9 object
cat_10 object
cat_11 object
cat_12 object
cat_13 object
cat_14 object
cat_15 object
cat_16 object
cat_17 object
num_18 float64
num_19 object
target bool

In [37]:
data.loc[data['num_18'] == ' ', 'num_18'] = None
data['num_18'] = data['num_18'].astype("float")

In [38]:
data.to_csv(f"{data_path}telecom1.csv")

# mortgages

In [39]:
# https://www.crowdanalytix.com/contests/propensity-to-fund-mortgages

In [40]:
dataset_name = "mortgages"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}CAX_MortgageModeling_Train.csv")
print(data.shape)
data.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/mortgages/CAX_MortgageModeling_Train.csv'

In [ ]:
cols_dict = {
    "id_cols": ["Unique_ID", "MORTGAGE NUMBER"],
    "cat_cols": [
        "MORTGAGE PURPOSE", "PAYMENT FREQUENCY", "PROPERTY TYPE", "TERM", "FSA", "AGE RANGE", "GENDER", 
        "INCOME TYPE", "NAICS CODE"
    ], 
    "time_cols": []
}

In [ ]:
data["target"] = data["RESULT"] == "FUNDED"
data.drop(["RESULT"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# Taxi

In [ ]:
# https://www.crowdanalytix.com/contests/mckinsey-big-data-hackathon

In [ ]:
dataset_name = "taxi"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}CAX_TrainingData_McK.csv")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": ["offer_gk","order_gk"],
    "cat_cols": [
        "weekday_key", "hour_key", "driver_gk", "offer_class_group", "ride_type_desc"
    ], 
    "time_cols": ["driver_latitude", "driver_longitude", "origin_order_latitude", "origin_order_longitude"
]
}

In [ ]:
data["target"] = data["driver_response"] == 1
data.drop(["driver_response"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# poverty_A

In [ ]:
# https://www.drivendata.org/competitions/50/worldbank-poverty-prediction/data/

In [ ]:
dataset_name = "poverty_A"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}A_indiv_train.csv")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": ["id", "iid", "country"],
    "cat_cols": [col for col in data.columns if col not in ["id", "iid", "poor", "ukWqmeSS", "OdXpbPGJ"]],
    "time_cols": []
}

In [ ]:
data["target"] = data["poor"] == 1
data.drop(["poor"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# poverty_B

In [ ]:
dataset_name = "poverty_B"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}B_indiv_train.csv")
print(data.shape)
data.head()

In [ ]:
num_cols = [
    'BoxViLPz', 'qlLzyqpP', 'unRAgFtX', 'TJGiunYp', 'WmKLEUcd',
    'DYgxQeEi', 'jfsTwowc', 'MGfpfHam', 'esHWAAyG', 'DtcKwIEv',
    'ETgxnJOM', 'gKsBCLMY', 'TZDgOhYY', 'sWElQwuC', 'jzBRbsEG', 
    'CLTXEwmz', 'WqEZQuJP', 'dnmwvCng', 'DSttkpSI', 'sIiSADFG', 
    'uDmhgsaQ', 'hdDTwJhQ', 'AJgudnHB', 'iZhWxnWa', 'fyfDnyQk', 
    'wJthinfa', 'nxAFXxLQ', 'mAeaImix', 'HZqPmvkr', 'ulQCDoYe', 
    'tzYvQeOb', 'NfpXxGQk'
]

cols_dict = {
    "id_cols": ["id", "iid", "country"],
    "cat_cols": [col for col in data.columns if col not in num_cols],
    "time_cols": []
}

In [ ]:
data["target"] = data["poor"] == 1
data.drop(["poor"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# poverty_C

In [ ]:
dataset_name = "poverty_C"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}C_indiv_train.csv")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": ["id", "iid", "country"],
    "cat_cols": [col for col in data.columns if col not in ["id", "iid", "poor", "XKQWlRjk", "vWNISgEA", "bsMfXBld", 
                                                            "XKyOwsRR", "CgAkQtOd"]],
    "time_cols": []
}

In [ ]:
data["target"] = data["poor"] == 1
data.drop(["poor"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# credit

In [ ]:
# https://www.kaggle.com/c/home-credit-default-risk/data

In [ ]:
dataset_name = "credit"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}application_train.csv.zip")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": ["SK_ID_CURR"],
    "cat_cols": ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
                 "REGION_RATING_CLIENT", "REGION_RATING_CLIENT_W_CITY", "NAME_TYPE_SUITE",
                 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
                 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
                 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
                 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
    "time_cols": []
}

In [ ]:
data["target"] = data["TARGET"] == 1
data.drop(["TARGET"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# adult

In [ ]:
# https://www.kaggle.com/wenruliu/adult-income-dataset

In [ ]:
dataset_name = "adult"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}adult.csv.zip")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": [],
    "cat_cols": ["workclass", "education", "marital-status", "occupation", "relationship", "race", "gender", "native-country"],
    "time_cols": []
}

In [ ]:
data["target"] = data["income"] == ">50K"
data.drop(["income"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# employee

In [ ]:
# https://www.kaggle.com/c/amazon-employee-access-challenge/data

In [ ]:
dataset_name = "employee"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}train.csv")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": [],
    "cat_cols": data.columns,
    "time_cols": []
}

In [ ]:
data["target"] = data["ACTION"] == 1
data.drop(["ACTION"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# kick

In [ ]:
# https://www.kaggle.com/c/DontGetKicked/data

In [ ]:
dataset_name = "kick"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}training.csv")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": ["RefId"],
    "cat_cols": ["Auction", "Make", "Model", "Trim", "SubModel", "Color", "Transmission", 
                 "WheelTypeID", "WheelType", "VehOdo", "Nationality", "Size", "TopThreeAmericanName", 
                 "PRIMEUNIT", "AUCGUART", "BYRNO", "VNZIP1", "VNST", "IsOnlineSale"],
    "time_cols": ["PurchDate"]
}

In [ ]:
data["target"] = data["IsBadBuy"] == 1
data.drop(["IsBadBuy"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# promotion

In [ ]:
# https://datahack.analyticsvidhya.com/contest/wns-analytics-hackathon-2018/

In [ ]:
dataset_name = "promotion"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}train_LZdllcl.csv")
print(data.shape)
data.head()

In [ ]:
cols_dict = {
    "id_cols": ["employee_id"],
    "cat_cols": ["department", "region", "education", "gender", "recruitment_channel"],
    "time_cols": []
}

In [ ]:
data["target"] = data["is_promoted"] == 1
data.drop(["is_promoted"] + cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)

# kdd_upselling

In [ ]:
# https://www.kdd.org/kdd-cup/view/kdd-cup-2009/Data

In [ ]:
dataset_name = "kdd_upselling"
data_pth = f"../data/{dataset_name}/"
data = pd.read_csv(f"{data_pth}orange_small_train.data", sep="\t")
print(data.shape)
data.head()

In [ ]:
targets = pd.read_csv(f"{data_pth}orange_small_train_upselling.labels.txt", header=None)

In [ ]:
cols_dict = {
    "id_cols": [],
    "cat_cols": data.columns[-40:],
    "time_cols": []
}

In [ ]:
data["target"] = targets.values == 1
data.drop(cols_dict["time_cols"] + cols_dict["id_cols"], axis=1, inplace=True)

In [ ]:
data = process_cols(data, cols_dict)
data.head()

In [ ]:
for col in data.columns:
    print(col, data[col].dtypes)

In [ ]:
data.to_csv(f"{data_pth}{dataset_name}.gz", compression='gzip', index=False)